#faq {
    background-color: white
    ;
    margin:250px 15px 0;
    border-radius: 20px;
    padding: 20px 25px 40px;
    position:relative;
    box-shadow: 0px 15px 35px 5px var(--darkGrey);
    .logo{
       
        img.front-mobile {
            position: absolute;
            top: -25%;
            left: 0;
            right: 0;
            margin-left: auto;
margin-right: auto;
            // transform: translate(25%, -80%);
        }
        img.back-mobile{
            position: absolute;
            top: 0;
            left:0;
            right: 0;
            margin-left: auto;
margin-right: auto;
            // transform: translate(40%, -240%);
            // z-index:  -1;
        }
        img.front-desktop{
            display: none;
        }
        img.back-desktop {
            display: none;
        }
    }
    .faq__header {
       margin-top: 100px;
        font-size: 40px;
        text-align: center;
    }
    .faq__questions{
        margin-top:40px;
        .faq__question-wrapper{
            border-bottom: 1px solid var(--lightGrey);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .faq__question{
                padding: 15px 10px 15px 0;
            }

            .faq__question__button{
                display: inline-block;
                background-color: transparent;
                border: none;
                color: var(--softRed)

            }
            .faq__hide-question{
                display: none;
                flex-basis: 100%;
                padding: 10px 10px 10px 0;
                color: var(--grey);
                line-height: 2;
            }
            .faq__hide-question--active{
                display: block;
                
            }
        }
    }
}
