
:root{
--softViolet:hsl(273, 75%, 66%);
--softBlue:hsl(240, 73%, 65%);
--darkBlue: hsl(238, 29%, 16%);
--softRed: hsl(14, 88%, 65%);
--darkGrey: hsl(237, 12%, 33%);
--grey: hsl(240, 6%, 50%);
--lightGrey: hsl(240, 5%, 91%);
--lightFont: 400;
--boldFont:700;
--fontSize: 12px;


}